<app-form [title]="'Cadastrar-se'" (submitEvent)="cadastrarSe()">
  <app-input-text
    label="Nome"
    type="text"
    id="nome"
    name="nome"
    placeholder="Nome"
    [(value)]="nome"
    (input)="validateForm()"
    [errorMessage]="!nome ? 'O nome é obrigatório.' : ''"
    [icon]="faUser"
  >
  </app-input-text>

  <app-input-text
    label="Usuário"
    type="text"
    id="username"
    name="username"
    placeholder="Usuário"
    [(value)]="username"
    (input)="checkUsername()"
    pattern="^[a-zA-Z0-9_]{5,}$"
    [errorMessage]="getUsernameErrorMessage()"
    [icon]="faUserCircle"
  >
  </app-input-text>

  <app-input-text
    label="Senha"
    type="password"
    id="password"
    name="password"
    placeholder="Senha"
    [(value)]="password"
    (input)="validateForm()"
    pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
    [errorMessage]="
      !password
        ? 'A senha é obrigatória.'
        : 'A senha deve conter pelo menos 8 caracteres, uma letra e um número'
    "
    [icon]="faLock"
  >
  </app-input-text>

  <app-input-text
    label="Confirme sua senha"
    type="password"
    id="confirmPassword"
    name="confirmPassword"
    placeholder="Confirme sua senha"
    [(value)]="confirmPassword"
    (input)="validateForm()"
    [errorMessage]="
      confirmPassword !== password ? 'As senhas não coincidem.' : ''
    "
    [icon]="faLock"
  >
  </app-input-text>

  <app-input-text
    label="CEP"
    type="text"
    id="cep"
    name="cep"
    placeholder="CEP"
    [(value)]="cep"
    (input)="buscarEndereco()"
    [errorMessage]="!cep ? 'O CEP é obrigatório.' : ''"
    [icon]="faMapMarkerAlt"
  >
  </app-input-text>

  <app-input-text
    label="Rua"
    type="text"
    id="rua"
    name="rua"
    placeholder="Rua"
    [(value)]="rua"
    readonly
    [errorMessage]="!rua ? 'A rua é obrigatória.' : ''"
    [icon]="faRoad"
  >
  </app-input-text>

  <app-input-text
    label="Bairro"
    type="text"
    id="bairro"
    name="bairro"
    placeholder="Bairro"
    [(value)]="bairro"
    readonly
    [errorMessage]="!bairro ? 'O bairro é obrigatório.' : ''"
    [icon]="faMap"
  >
  </app-input-text>

  <app-input-text
    label="Cidade"
    type="text"
    id="cidade"
    name="cidade"
    placeholder="Cidade"
    [(value)]="cidade"
    readonly
    [errorMessage]="!cidade ? 'A cidade é obrigatória.' : ''"
    [icon]="faCity"
  >
  </app-input-text>

  <app-input-text
    label="Estado"
    type="text"
    id="estado"
    name="estado"
    placeholder="Estado"
    [(value)]="estado"
    readonly
    [errorMessage]="!estado ? 'O estado é obrigatório.' : ''"
    [icon]="faFlag"
  >
  </app-input-text>

  <app-button-primary
    text="Cadastrar-se"
    type="submit"
    [disabled]="!isFormValid"
  ></app-button-primary>

  <p class="mx-auto">
    <span class="text-sm">
      Já é membro?
      <a [routerLink]="['/login']">
        <strong>Acesse aqui</strong>
      </a>
    </span>
  </p>
</app-form>
