@import '../../../../styles.scss';

.navbar {
  border-top: 10px solid $primary-color;

  a{
    &:hover{
      color: $primary-color;
    }
    &:active{
      color: $primary-color!important;
      background-color: $primary-gray!important;
    }
  }
}




