<app-form
  [title]="'Configurações do Usuário'"
  (submitEvent)="atualizarUsuario()"
>
  <app-input-text
    label="Nome"
    type="text"
    id="nome"
    name="nome"
    placeholder="Nome"
    [(ngModel)]="nome"
    (input)="validateForm()"
    [errorMessage]="!nome ? 'O nome é obrigatório.' : ''"
    [icon]="faUser"
  ></app-input-text>
  <app-input-text
    label="Usuário"
    type="text"
    id="username"
    name="username"
    placeholder="Usuário"
    [(ngModel)]="username"
    (input)="validateForm()"
    pattern="^[a-zA-Z0-9_]{5,}$"
    [errorMessage]="getUsernameErrorMessage()"
    [icon]="faUserCircle"
  ></app-input-text>
  <app-input-text
    label="Nova Senha (opcional)"
    type="password"
    id="password"
    name="password"
    placeholder="Nova Senha"
    [(ngModel)]="password"
    (input)="validateForm()"
    pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
    [errorMessage]="getPasswordErrorMessage()"
    [icon]="faLock"
  ></app-input-text>
  <app-input-text
    label="Confirme sua nova senha"
    type="password"
    id="confirmPassword"
    name="confirmPassword"
    placeholder="Confirme sua nova senha"
    [(ngModel)]="confirmPassword"
    (input)="validateForm()"
    [errorMessage]="getConfirmPasswordErrorMessage()"
    [icon]="faLock"
  ></app-input-text>
  <app-input-text
    label="CEP"
    type="text"
    id="cep"
    name="cep"
    placeholder="CEP"
    [(ngModel)]="cep"
    (input)="buscarEndereco()"
    [errorMessage]="!cep ? 'O CEP é obrigatório.' : ''"
    [icon]="faMapMarkerAlt"
  ></app-input-text>
  <app-input-text
    label="Rua"
    type="text"
    id="rua"
    name="rua"
    placeholder="Rua"
    [(ngModel)]="rua"
    readonly
    [errorMessage]="!rua ? 'A rua é obrigatória.' : ''"
    [icon]="faRoad"
  ></app-input-text>
  <app-input-text
    label="Bairro"
    type="text"
    id="bairro"
    name="bairro"
    placeholder="Bairro"
    [(ngModel)]="bairro"
    readonly
    [errorMessage]="!bairro ? 'O bairro é obrigatório.' : ''"
    [icon]="faMap"
  ></app-input-text>
  <app-input-text
    label="Cidade"
    type="text"
    id="cidade"
    name="cidade"
    placeholder="Cidade"
    [(ngModel)]="cidade"
    readonly
    [errorMessage]="!cidade ? 'A cidade é obrigatória.' : ''"
    [icon]="faCity"
  ></app-input-text>
  <app-input-text
    label="Estado"
    type="text"
    id="estado"
    name="estado"
    placeholder="Estado"
    [(ngModel)]="estado"
    readonly
    [errorMessage]="!estado ? 'O estado é obrigatório.' : ''"
    [icon]="faFlag"
  ></app-input-text>
  <app-button-primary
    text="Salvar"
    type="submit"
    [disabled]="!isFormValid"
  ></app-button-primary>
</app-form>
