@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/minimo');

* {
  font-family: 'Minimo', sans-serif;
}

$primary-color: oklch(var(--p));
$text-color: #484C52;
$primary-gray: oklch(var(--b2));
$bg-white: #f5f5f5;

.input {
  height: 2.2rem;
}
