<label
  [for]="id"
  class="input input-sm input-bordered rounded flex items-center gap-2"
  [ngClass]="{ 'input-error': !isValid && interacted }"
>
  <ng-content></ng-content>
  <input
    [type]="type"
    [id]="id"
    [name]="name"
    class="grow"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    (ngModelChange)="onValueChange($event)"
    [attr.pattern]="pattern"
    [required]="required"
    (blur)="onBlur()"
    [mask]="mask"
    [prefix]="prefix"
    [thousandSeparator]="thousandSeparator"
    [decimalMarker]="decimalMarker"
    [dropSpecialCharacters]="dropSpecialCharacters"
  />
  <span *ngIf="!isValid && interacted" class="badge badge-error">!</span>
</label>
<span *ngIf="!isValid && interacted" class="label-text-alt text-error">{{
  errorMessage
}}</span>
